/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .w-r-90 {
    width: 90% !important;
  }
}

/*fold phones*/
@media (max-width: 280px) {
  .w-r-100 {
    width: 100% !important;
  }
  nav {
    top: 0;
  }
  .fs-r-6 {
    font-size: 1rem !important;
  }
}
